/* LIT-584717 */
.content.search-result .advertisement-container-toc {
    margin: 20px 0 -20px;
}

.content.journal-home:has(.pb-wrap),
.content.pubs-custom:has(.pb-wrap),
.content.toc:has(.pb-wrap) {
    overflow-x: unset;
}

/* Social Icons on Homepage */

 .content.homepage .stay_connected .connect-item .connect-social {
    width: 24rem;
  }


@media (min-width: 768px) and (max-width: 820px) {
  .content.homepage .stay_connected .connect-item .connect-social {
    width: 18rem;
    justify-content: flex-start; /* Adjusted to remove space between items */
    margin-left: 3em;
  }
}

@media (max-width: 480px) {
 .content.homepage .stay_connected .connect-item .connect-social {
    width: 21rem;
    justify-content: flex-start; /* Adjusted to remove space between items */
  }
}



/* Social Icons Sitewide */

 .stay_connected .connect-item .connect-social {
    width: 24rem;
  }


@media (min-width: 768px) and (max-width: 820px) {
 .stay_connected .connect-item .connect-social {
    width: 18rem;
    justify-content: flex-start; /* Adjusted to remove space between items */
    margin-left: 3em;
  }
}

@media (max-width: 480px) {
 .stay_connected .connect-item .connect-social {
    width: 21rem;
    justify-content: flex-start; /* Adjusted to remove space between items */
  }
}



